*{
    margin:0;
    padding:0;
}

body {
    position: relative;
}

.header{
    width:100%;
    height:90px;
    background-image: linear-gradient(to right,rgb(128, 189, 255),rgb(127, 189, 255),rgb(75, 162, 255),rgb(53, 151, 255),rgb(5, 126, 255));
    color:white;
    display:flex;
}
.header h1{
    font-weight: 300;
    display:flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color:white;
}
.header .list{
    display:flex;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: 100;
}


.header2 {
    display: flex;
    width: 40%;
    flex-direction: row;
    flex: 1;
    justify-content: right;
    gap: 9%;
    padding-right: 4%;
}

.header1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 20%;
}

.img1 {
    width:30px;
    height:30px;
}

.small {
    position: absolute;
    height: 0%;
    width: 0%;
    top: 0;
    left: 0;
    background-color: white;
    display: none;
    transition-duration: 0.000000000001s;
    transition-timing-function: ease-out;
    color: black;
}

.closebtn {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
}

.filter {
    color:black;
}